<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Username</title>
</head>
<body>
    <h2>You are about to delete this user : <%= user.email %></h2>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
        <textarea name="username"> <%= user.username%> </textarea>
        <input type="password" name="password" placeholder="enter password"/>
        <button>Delete</button>
    </form>
</body>
</html>